/* $Header: D:/Projekte/SOM!WPS Inside!1/Source/rcs/ADRESSE.RC 1.1 1996/04/10 13:27:44 HaWi Exp $ */

#include "adresse.ih"
#include "adresse.rh"

POINTER IDN_ADRESSE ADRESSE.ICO

DLGTEMPLATE IDD_ADRESSE1 LOADONCALL MOVEABLE DISCARDABLE
   {
   DIALOG  "", IDD_ADRESSE1, 0, 0, 0, 0, WS_VISIBLE | NOT FS_DLGBORDER | NOT WS_SAVEBITS
      {
      LTEXT      "FIELD 1", IDT_FIELD01, 0, 126, 50, 8
      ENTRYFIELD "", IDE_FIELD01, 52, 126, 146, 8, ES_MARGIN
      LTEXT      "FIELD 2", IDT_FIELD02, 0, 114, 52, 8
      ENTRYFIELD "", IDE_FIELD02, 52, 114, 146, 8, ES_MARGIN
      LTEXT      "FIELD 3", IDT_FIELD03, 0, 102, 52, 8
      ENTRYFIELD "", IDE_FIELD03, 52, 102, 146, 8, ES_MARGIN
      LTEXT      "FIELD 4", IDT_FIELD04, 0, 90, 52, 8
      ENTRYFIELD "", IDE_FIELD04, 52, 90, 146, 8, ES_MARGIN
      LTEXT      "FIELD 5", IDT_FIELD05, 0, 78, 52, 8
      ENTRYFIELD "", IDE_FIELD05, 52, 78, 146, 8, ES_MARGIN
      LTEXT      "FIELD 6", IDT_FIELD06, 0, 66, 52, 8
      ENTRYFIELD "", IDE_FIELD06, 52, 66, 146, 8, ES_MARGIN
      }
   }

DLGTEMPLATE IDD_ADRESSE2 LOADONCALL MOVEABLE DISCARDABLE
   {
   DIALOG  "", IDD_ADRESSE2, 0, 0, 0, 0, WS_VISIBLE | NOT FS_DLGBORDER | NOT WS_SAVEBITS
      {
      LTEXT      "FIELD 7", IDT_FIELD07, 0, 126, 50, 8
      ENTRYFIELD "", IDE_FIELD07, 52, 126, 146, 8, ES_MARGIN
      LTEXT      "FIELD 8", IDT_FIELD08, 0, 114, 52, 8
      ENTRYFIELD "", IDE_FIELD08, 52, 114, 146, 8, ES_MARGIN
      LTEXT      "FIELD 9", IDT_FIELD09, 0, 102, 52, 8
      ENTRYFIELD "", IDE_FIELD09, 52, 102, 146, 8, ES_MARGIN
      LTEXT      "FIELD 10", IDT_FIELD10, 0, 90, 52, 8
      ENTRYFIELD "", IDE_FIELD10, 52, 90, 146, 8, ES_MARGIN
      LTEXT      "FIELD 11", IDT_FIELD11, 0, 78, 52, 8
      ENTRYFIELD "", IDE_FIELD11, 52, 78, 146, 8, ES_MARGIN
      LTEXT      "FIELD 12", IDT_FIELD12, 0, 66, 52, 8
      ENTRYFIELD "", IDE_FIELD12, 52, 66, 146, 8, ES_MARGIN
      }
   }

DLGTEMPLATE IDD_GLOBAL LOADONCALL MOVEABLE DISCARDABLE
   {
   DIALOG  "", IDD_GLOBAL, 0, 0, 0, 0, WS_VISIBLE | NOT FS_DLGBORDER | NOT WS_SAVEBITS
      {
      LISTBOX    IDL_KEY, 0, 32, 70, 112
      ENTRYFIELD "", IDE_VALUE, 76, 126, 122, 8, ES_MARGIN
      }
   }

DLGTEMPLATE IDD_BEMERKUNG LOADONCALL MOVEABLE DISCARDABLE
   {
   DIALOG  "", IDD_BEMERKUNG, 0, 0, 0, 0, WS_VISIBLE | NOT FS_DLGBORDER | NOT WS_SAVEBITS
      {
      MLE "", IDF_BEMERKUNG, 0, 32, 190, 112, MLS_BORDER | MLS_WORDWRAP | MLS_HSCROLL | MLS_VSCROLL | MLS_DISABLEUNDO | MLS_IGNORETAB
      }
   }

