/* $Header: D:\Projekte\Redaktion Toolbox\An der langen Leine\Source\RCS\NSDDE.RC 1.0 1997/08/29 16:05:52 HAWI Exp $ */

#define  INCL_PM
#include <os2.h>

#include "NSDDE.H"

DLGTEMPLATE IDD_LISTWINDOWS LOADONCALL MOVEABLE DISCARDABLE
   {
   DIALOG "ListWindows", IDD_LISTWINDOWS, 0, 0, 318, 96, WS_SYNCPAINT | WS_CLIPSIBLINGS | WS_SAVEBITS | WS_VISIBLE | FS_DLGBORDER | FS_NOBYTEALIGN, FCF_SYSMENU | FCF_TITLEBAR
      PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
      {
      LTEXT      "Windows", IDT_LISTWINDOWS, 8, 82, 60, 8, DT_MNEMONIC
      LISTBOX    IDL_LISTWINDOWS, 70, 34, 237, 60
      PUSHBUTTON "Cancel", DID_CANCEL, 6, 4, 60, 14, WS_GROUP
      }
   }

DLGTEMPLATE IDD_OPENURL LOADONCALL MOVEABLE DISCARDABLE
   {
   DIALOG "OpenURL", IDD_OPENURL, 0, 0, 318, 48, WS_SYNCPAINT | WS_CLIPSIBLINGS | WS_SAVEBITS | WS_VISIBLE | FS_DLGBORDER | FS_NOBYTEALIGN, FCF_SYSMENU | FCF_TITLEBAR
      PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
      {
      LTEXT         "~URL:", IDT_OPENURL, 8, 34, 60, 8, DT_MNEMONIC
      ENTRYFIELD    "", IDE_OPENURL, 70, 34, 237, 8, ES_MARGIN
      DEFPUSHBUTTON "Open", DID_OK, 6, 4, 60, 14, WS_GROUP
      PUSHBUTTON    "Cancel", DID_CANCEL, 70, 4, 60, 14
      }
   }

MENU IDM_NSDDE
   {
   SUBMENU "~Netscape", IDM_NSDDENETSCAPE
      {
      MENUITEM "~Exit", IDM_NSDDEEXIT
      MENUITEM "~ListWindows", IDM_NSDDELISTWINDOWS
      MENUITEM "~OpenURL", IDM_NSDDEOPENURL
      MENUITEM "~Version", IDM_NSDDEVERSION
      }
   }

STRINGTABLE
   {
   IDS_DDEACKARRIVED,                 "ACK came in"
   IDS_DDEDATAARRIVED,                "DATA came in"
   IDS_DDEINITIATEACKARRIVED,         "INITIATEACK came in"
   IDS_DDENOTIFICATION,               "DDE Notification"
   IDS_DDESERVERBUSY,                 "DDE Server busy"
   IDS_UNSUPPORTEDDDETRANSACTIONDATA, "Unsupported DDE transaction data"
   }


