/* $Header: Y:/Projekte/Redaktion SE/Knopfleiste/Source/rcs/KLEISTE.RC 1.1 1996/12/29 13:49:42 HaWi Exp $ */

#define  INCL_PM
#include <os2.h>

#include "KLEISTE.H"

BITMAP IDKLEISTE_2PAGES   2PAGES.BMP
BITMAP IDKLEISTE_4PAGES   4PAGES.BMP
BITMAP IDKLEISTE_ABOOK    ABOOK.BMP
BITMAP IDKLEISTE_ALNBLOCK ALNBLOCK.BMP
BITMAP IDKLEISTE_ALNCNTR  ALNCNTR.BMP
BITMAP IDKLEISTE_ALNLEFT  ALNLEFT.BMP
BITMAP IDKLEISTE_ALNRIGHT ALNRIGHT.BMP
BITMAP IDKLEISTE_ARRANGE  ARRANGE.BMP
BITMAP IDKLEISTE_ARROWNE  ARROWNE.BMP
BITMAP IDKLEISTE_ARROWNW  ARROWNW.BMP
BITMAP IDKLEISTE_ARROWSE  ARROWSE.BMP
BITMAP IDKLEISTE_ARROWSW  ARROWSW.BMP
BITMAP IDKLEISTE_ASCEND   ASCEND.BMP
BITMAP IDKLEISTE_ATTACH   ATTACH.BMP
BITMAP IDKLEISTE_BLZ      BLZ.BMP
BITMAP IDKLEISTE_BLZDEL   BLZDEL.BMP
BITMAP IDKLEISTE_BOLD     BOLD.BMP
BITMAP IDKLEISTE_BOOK     BOOK.BMP
BITMAP IDKLEISTE_BOOKMARK BOOKMARK.BMP
BITMAP IDKLEISTE_BRIGHT   BRIGHT.BMP
BITMAP IDKLEISTE_BRUSH    BRUSH.BMP
BITMAP IDKLEISTE_CALC     CALC.BMP
BITMAP IDKLEISTE_CALENDAR CALENDAR.BMP
BITMAP IDKLEISTE_CAMERA   CAMERA.BMP
BITMAP IDKLEISTE_CD       CD.BMP
BITMAP IDKLEISTE_CDPLAYER CDPLAYER.BMP
BITMAP IDKLEISTE_CFG      CFG.BMP
BITMAP IDKLEISTE_CFGABOOK CFGABOOK.BMP
BITMAP IDKLEISTE_CFGENTRY CFGENTRY.BMP
BITMAP IDKLEISTE_CFGPRINT CFGPRINT.BMP
BITMAP IDKLEISTE_CFGTEXT  CFGTEXT.BMP
BITMAP IDKLEISTE_CFGTOOL  CFGTOOL.BMP
BITMAP IDKLEISTE_CFGTOOLB CFGTOOLB.BMP
BITMAP IDKLEISTE_CFGUI    CFGUI.BMP
BITMAP IDKLEISTE_CHECK    CHECK.BMP
BITMAP IDKLEISTE_CHECKBOX CHECKBOX.BMP
BITMAP IDKLEISTE_CLIPBORD CLIPBORD.BMP
BITMAP IDKLEISTE_CLIPIN   CLIPIN.BMP
BITMAP IDKLEISTE_CLIPOUT  CLIPOUT.BMP
BITMAP IDKLEISTE_CLOSE    CLOSE.BMP
BITMAP IDKLEISTE_CLOSEALL CLOSEALL.BMP
BITMAP IDKLEISTE_COLLECT  COLLECT.BMP
BITMAP IDKLEISTE_COLOR    COLOR.BMP
BITMAP IDKLEISTE_COLS     COLS.BMP
BITMAP IDKLEISTE_COMBOBOX COMBOBOX.BMP
BITMAP IDKLEISTE_COMPASS  COMPASS.BMP
BITMAP IDKLEISTE_CONTACT  CONTACT.BMP
BITMAP IDKLEISTE_CONTRAST CONTRAST.BMP
BITMAP IDKLEISTE_COPY     COPY.BMP
BITMAP IDKLEISTE_CORRECT1 CORRECT1.BMP
BITMAP IDKLEISTE_CORRECT2 CORRECT2.BMP
BITMAP IDKLEISTE_CROSS    CROSS.BMP
BITMAP IDKLEISTE_CUT      CUT.BMP
BITMAP IDKLEISTE_DBCOL    DBCOL.BMP
BITMAP IDKLEISTE_DBCOLDEL DBCOLDEL.BMP
BITMAP IDKLEISTE_DBCREATE DBCREATE.BMP
BITMAP IDKLEISTE_DBDEL    DBDEL.BMP
BITMAP IDKLEISTE_DBINFO   DBINFO.BMP
BITMAP IDKLEISTE_DBREC    DBREC.BMP
BITMAP IDKLEISTE_DBRECDEL DBRECDEL.BMP
BITMAP IDKLEISTE_DBREORG  DBREORG.BMP
BITMAP IDKLEISTE_DESCEND  DESCEND.BMP
BITMAP IDKLEISTE_DESKTOP  DESKTOP.BMP
BITMAP IDKLEISTE_DGTLAUDI DGTLAUDI.BMP
BITMAP IDKLEISTE_DIAL     DIAL.BMP
BITMAP IDKLEISTE_DOCUMENT DOCUMENT.BMP
BITMAP IDKLEISTE_DOUBLE   DOUBLE.BMP
BITMAP IDKLEISTE_DOUBLE2  DOUBLE2.BMP
BITMAP IDKLEISTE_DOUBLE3  DOUBLE3.BMP
BITMAP IDKLEISTE_DOUBLE4  DOUBLE4.BMP
BITMAP IDKLEISTE_DOWN     DOWN.BMP
BITMAP IDKLEISTE_DOWN2    DOWN2.BMP
BITMAP IDKLEISTE_DOWNCASE DOWNCASE.BMP
BITMAP IDKLEISTE_DRIVE    DRIVE.BMP
BITMAP IDKLEISTE_EJECT    EJECT.BMP
BITMAP IDKLEISTE_ENTER    ENTER.BMP
BITMAP IDKLEISTE_EXIT     EXIT.BMP
BITMAP IDKLEISTE_EXPORT   EXPORT.BMP
BITMAP IDKLEISTE_FETT     FETT.BMP
BITMAP IDKLEISTE_FILTER   FILTER.BMP
BITMAP IDKLEISTE_FIRST    FIRST.BMP
BITMAP IDKLEISTE_GROUPBOX GROUPBOX.BMP
BITMAP IDKLEISTE_HAND     HAND.BMP
BITMAP IDKLEISTE_HANGUP   HANGUP.BMP
BITMAP IDKLEISTE_HELP     HELP.BMP
BITMAP IDKLEISTE_HOME     HOME.BMP
BITMAP IDKLEISTE_HSCROLL  HSCROLL.BMP
BITMAP IDKLEISTE_IDEA     IDEA.BMP
BITMAP IDKLEISTE_IMPORT   IMPORT.BMP
BITMAP IDKLEISTE_INFO     INFO.BMP
BITMAP IDKLEISTE_INFO2    INFO2.BMP
BITMAP IDKLEISTE_ITALIC   ITALIC.BMP
BITMAP IDKLEISTE_KURSIV   KURSIV.BMP
BITMAP IDKLEISTE_LAST     LAST.BMP
BITMAP IDKLEISTE_LEFT     LEFT.BMP
BITMAP IDKLEISTE_LEFT2    LEFT2.BMP
BITMAP IDKLEISTE_LETTER   LETTER.BMP
BITMAP IDKLEISTE_LINK     LINK.BMP
BITMAP IDKLEISTE_LISTBOX  LISTBOX.BMP
BITMAP IDKLEISTE_LOAD     LOAD.BMP
BITMAP IDKLEISTE_LOCATE   LOCATE.BMP
BITMAP IDKLEISTE_LOCK     LOCK.BMP
BITMAP IDKLEISTE_LOOK     LOOK.BMP
BITMAP IDKLEISTE_MANAGER  MANAGER.BMP
BITMAP IDKLEISTE_MENU     MENU.BMP
BITMAP IDKLEISTE_MERGE    MERGE.BMP
BITMAP IDKLEISTE_MERGE2   MERGE2.BMP
BITMAP IDKLEISTE_MESSAGE  MESSAGE.BMP
BITMAP IDKLEISTE_MINUS    MINUS.BMP
BITMAP IDKLEISTE_MUSTEK   MUSTEK.BMP
BITMAP IDKLEISTE_NAVIGATR NAVIGATR.BMP
BITMAP IDKLEISTE_NEW      NEW.BMP
BITMAP IDKLEISTE_NEWSRDR  NEWSRDR.BMP
BITMAP IDKLEISTE_NO0      NO0.BMP
BITMAP IDKLEISTE_NO1      NO1.BMP
BITMAP IDKLEISTE_NO2      NO2.BMP
BITMAP IDKLEISTE_NO3      NO3.BMP
BITMAP IDKLEISTE_NO4      NO4.BMP
BITMAP IDKLEISTE_NOTE     NOTE.BMP
BITMAP IDKLEISTE_ODBACK   ODBACK.BMP
BITMAP IDKLEISTE_ODCLOSE  ODCLOSE.BMP
BITMAP IDKLEISTE_ODMAX    ODMAX.BMP
BITMAP IDKLEISTE_ODMIN    ODMIN.BMP
BITMAP IDKLEISTE_ODROLLUP ODROLLUP.BMP
BITMAP IDKLEISTE_OL       OL.BMP
BITMAP IDKLEISTE_OPEN     OPEN.BMP
BITMAP IDKLEISTE_PACKAGE  PACKAGE.BMP
BITMAP IDKLEISTE_PAGECHNG PAGECHNG.BMP
BITMAP IDKLEISTE_PAGEINS  PAGEINS.BMP
BITMAP IDKLEISTE_PASTE    PASTE.BMP
BITMAP IDKLEISTE_PAUSE    PAUSE.BMP
BITMAP IDKLEISTE_PCTVIEWR PCTVIEWR.BMP
BITMAP IDKLEISTE_PENCIL   PENCIL.BMP
BITMAP IDKLEISTE_PERSON   PERSON.BMP
BITMAP IDKLEISTE_PHONE    PHONE.BMP
BITMAP IDKLEISTE_PING     PING.BMP
BITMAP IDKLEISTE_PLAY     PLAY.BMP
BITMAP IDKLEISTE_PLCEHLDR PLCEHLDR.BMP
BITMAP IDKLEISTE_PLEFT    PLEFT.BMP
BITMAP IDKLEISTE_PLEFT2   PLEFT2.BMP
BITMAP IDKLEISTE_PLUS     PLUS.BMP
BITMAP IDKLEISTE_PLZ      PLZ.BMP
BITMAP IDKLEISTE_PLZDEL   PLZDEL.BMP
BITMAP IDKLEISTE_PREVIEW  PREVIEW.BMP
BITMAP IDKLEISTE_PRIGHT   PRIGHT.BMP
BITMAP IDKLEISTE_PRIGHT2  PRIGHT2.BMP
BITMAP IDKLEISTE_PRINT    PRINT.BMP
BITMAP IDKLEISTE_PROGS    PROGS.BMP
BITMAP IDKLEISTE_PULSE    PULSE.BMP
BITMAP IDKLEISTE_PUSHBTN  PUSHBTN.BMP
BITMAP IDKLEISTE_RADIOBTN RADIOBTN.BMP
BITMAP IDKLEISTE_RAZOR    RAZOR.BMP
BITMAP IDKLEISTE_RECEIVE  RECEIVE.BMP
BITMAP IDKLEISTE_REDO     REDO.BMP
BITMAP IDKLEISTE_REGISTER REGISTER.BMP
BITMAP IDKLEISTE_REMINDER REMINDER.BMP
BITMAP IDKLEISTE_REMOTE   REMOTE.BMP
BITMAP IDKLEISTE_REPEAT   REPEAT.BMP
BITMAP IDKLEISTE_RIGHT    RIGHT.BMP
BITMAP IDKLEISTE_RIGHT2   RIGHT2.BMP
BITMAP IDKLEISTE_ROWS     ROWS.BMP
BITMAP IDKLEISTE_RULER    RULER.BMP
BITMAP IDKLEISTE_RUN      RUN.BMP
BITMAP IDKLEISTE_SAVE     SAVE.BMP
BITMAP IDKLEISTE_SAVEAS   SAVEAS.BMP
BITMAP IDKLEISTE_SCANNER  SCANNER.BMP
BITMAP IDKLEISTE_SEEK     SEEK.BMP
BITMAP IDKLEISTE_SELECT   SELECT.BMP
BITMAP IDKLEISTE_SEND     SEND.BMP
BITMAP IDKLEISTE_SETUP    SETUP.BMP
BITMAP IDKLEISTE_SHADOW   SHADOW.BMP
BITMAP IDKLEISTE_SHELF    SHELF.BMP
BITMAP IDKLEISTE_SHREDDER SHREDDER.BMP
BITMAP IDKLEISTE_SIZE     SIZE.BMP
BITMAP IDKLEISTE_SPREADST SPREADST.BMP
BITMAP IDKLEISTE_STOP     STOP.BMP
BITMAP IDKLEISTE_STORE    STORE.BMP
BITMAP IDKLEISTE_TEACHING TEACHING.BMP
BITMAP IDKLEISTE_TEXT     TEXT.BMP
BITMAP IDKLEISTE_TEXTCOLR TEXTCOLR.BMP
BITMAP IDKLEISTE_TIMER    TIMER.BMP
BITMAP IDKLEISTE_TOOL     TOOL.BMP
BITMAP IDKLEISTE_TOOLS    TOOLS.BMP
BITMAP IDKLEISTE_TRANSFER TRANSFER.BMP
BITMAP IDKLEISTE_TRASH    TRASH.BMP
BITMAP IDKLEISTE_TYPES    TYPES.BMP
BITMAP IDKLEISTE_UL       UL.BMP
BITMAP IDKLEISTE_UNDERLNE UNDERLNE.BMP
BITMAP IDKLEISTE_UNDO     UNDO.BMP
BITMAP IDKLEISTE_UP       UP.BMP
BITMAP IDKLEISTE_UP2      UP2.BMP
BITMAP IDKLEISTE_UPCASE   UPCASE.BMP
BITMAP IDKLEISTE_VIEW     VIEW.BMP
BITMAP IDKLEISTE_VSCROLL  VSCROLL.BMP
BITMAP IDKLEISTE_WORLD    WORLD.BMP
BITMAP IDKLEISTE_ZIP      ZIP.BMP
BITMAP IDKLEISTE_ZOOM     ZOOM.BMP
BITMAP IDKLEISTE_ZOOMDOC  ZOOMDOC.BMP
BITMAP IDKLEISTE_ZOOMFLDR ZOOMFLDR.BMP
BITMAP IDKLEISTE_ZOOMIN   ZOOMIN.BMP
BITMAP IDKLEISTE_ZOOMLDHR ZOOMLDHR.BMP
BITMAP IDKLEISTE_ZOOMOUT  ZOOMOUT.BMP
BITMAP IDKLEISTE_ZOOMPERS ZOOMPERS.BMP
BITMAP IDKLEISTE_ZOOMTEXT ZOOMTEXT.BMP

