/* $Header: y:/projekte/redaktion os!2 inside/Ganz geheim/Source/rcs/SECRET.RC 1.1 1997/03/07 16:00:02 HAWI Exp $ */

#define   INCL_PM
#include <os2.h>

#include "SECRET.H"

/* About Dialog */
DLGTEMPLATE IDD_HABOUT LOADONCALL MOVEABLE DISCARDABLE
   {
   DIALOG "", IDD_HABOUT, 55, 43, 200, 96,
      PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
      {
      CTEXT         "About", IDT_HABOUT1, 10, 72, 180, 8
      CTEXT         "$Revision: 1.1 $", IDT_HABOUT2, 10, 64, 180, 8
      CTEXT         "Top secret", IDT_HABOUT4, 10, 46, 180, 8
      CTEXT         "", IDT_HABOUT3, 10, 38, 180, 8
      CTEXT         "Harald (HaWi) Wilhelm, Kîln 1997", IDT_HABOUT5, 10, 30, 180, 8
      DEFPUSHBUTTON "Ok", DID_OK, 6, 4, 60, 14, WS_GROUP
      }
   }

/* Registrierdialog */
DLGTEMPLATE IDD_HR LOADONCALL MOVEABLE DISCARDABLE
   {
   DIALOG "Register Shareware", IDD_HR, 0, 0, 210, 48, FS_DLGBORDER | FS_NOBYTEALIGN | WS_CLIPSIBLINGS | WS_SAVEBITS | WS_SYNCPAINT | WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
      PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
      {
      LTEXT         "~Name", IDT_HR1, 8, 34, 90, 8, DT_MNEMONIC
      ENTRYFIELD    "", IDE_HR1, 102, 34, 100, 8, ES_MARGIN
      LTEXT         "~Kode", IDT_HR2, 8, 22, 90, 8, DT_MNEMONIC
      ENTRYFIELD    "0", IDE_HR2, 101, 21, 102, 10, ES_MARGIN
      DEFPUSHBUTTON "Registrieren", DID_OK, 6, 4, 60, 14, WS_GROUP
      }
   }

/* Sticky Window Dialog */
DLGTEMPLATE IDD_SW LOADONCALL MOVEABLE DISCARDABLE
   {
   DIALOG "", IDD_SW, 55, 43, 200, 72
      PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
      {
      CTEXT "Dieser Hinweis wird nicht in der registrierten Version des Produktes angezeigt. Bitte lesen Sie die Anleitung zur Registrierung. Dieser Dialog wird bei 0 automatisch entfernt.", IDT_SW_1, 10, 22, 180, 36, DT_WORDBREAK
      CTEXT "", IDT_SW_2, 10, 10, 180, 8
      }
   }

/* MenÅ */
MENU IDM_SECRET
   {
   SUBMENU     "~Help",        IDM_HELP
      {
      MENUITEM "~About...",    IDM_HABOUT
      MENUITEM "~Register...", IDM_HREGISTER
      }
   }
   
/* Einige Applikationstexte */
STRINGTABLE
   {
   IDS_PROGRAMM,      "Ganz geheim"
   IDS_REGISTRIERT,   "Registriert fÅr "
   IDS_UNREGISTRIER,  "Unregistriert"
   IDS_UNREGISTRIERT, "Unregistriertes Ganz geheim"
   IDS_WICHTIG,       "Dies ist eine ganz wichtige Anwendung"
   }

