/* $Header: D:\projekte\versteckte informationen\source\RCS\IOS2P009.RC 1.1 1995/05/25 19:01:15 HaWi Exp $ */

#define  INCL_PM
#include <os2.h>

#include "IOS2P009.H"

DLGTEMPLATE IDD_IOS2P LOADONCALL MOVEABLE DISCARDABLE
   {
   DIALOG  "SYSTEM Information", IDD_IOS2P, 10, 10, 380, 194, 
           WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR | FCF_TASKLIST
      {
      NOTEBOOK IDNO_IOS2P_1, 1, 1, 378, 192
      }
   }
   
DLGTEMPLATE IDD_IOS2P_1 LOADONCALL MOVEABLE DISCARDABLE
   {
   DIALOG  "", IDD_IOS2P_1, 0, 0, 0, 0, WS_VISIBLE | NOT FS_DLGBORDER | NOT WS_SAVEBITS
      {
      CONTAINER  IDCO_IOS2P_1, 2, 3, 256, 154, CCS_MINIRECORDCORE | CCS_MINIICONS | CCS_READONLY | WS_GROUP
      PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
      CONTROL    "", 1, 2, 258, 264, 156, WC_STATIC, SS_FGNDFRAME | NOT WS_GROUP | WS_VISIBLE
      }
   }
